<div class="modal fade" id="autoModal" role="dialog" aria-labelledby="autoGroupModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title" id="autoGroupModal">
          Create groups automatically
        </h3>
      </div>

      <form id="create-group" class="form" role="form" action="{% url 'group_students' %}" method="post">
        <div class="modal-body">
          <h4>Group size:</h4>
          <input id="autoGroupSize" name="autoGroupSize" type="number" value="1" min="1"/>
        </div>

        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
          <button class="btn btn-primary" data-dismiss="modal" type="submit">
            Create groups
          </button>
        </div>
      </form>

    </div>
  </div>
</div>