{% load bootstrap3 %}
{% bootstrap_css %}

<!--Uses ajax to send data from dialog with form to the django model-->
<form id="editGroupForm" class="form" role="form" action="{% url 'edit_group' group.id %}" method="post">
  <div class="modal-header">
    <button type="button" id="x" class="close" name="button" data-dismiss="modal" aria-hidden="true">x</button>
    <h4 class="modal-title" id="editGroupTitle">Edit group {{ group.group_id }}</h4>
  </div>
  <div class="modal-body" onload="script();">
    {% csrf_token %}
    <div class="fluid-container" style="overflow:hidden">
      <div id="leftSide" class="col-sm-5">
        <div class="form-group">
          <h5>Students without a group</h5>
          <select id="noGroupStudentList" multiple="" >
            {% for student in studentsWithoutGroup %}
            <option id="{{student.id}}" class="StudentWithoutItem" value="{{student.id}}" ondblclick="moveStudentDoubleClick(event,this)">{{student.id}}/{{student.username}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div id="centerBtns" class="col-sm-2">
        <button id="moveLeftBtn" type="button" name="moveLeft" onclick="moveL()">
          <span class="glyphicon glyphicon-arrow-left"></span>
        </button>
        <button id="moveRightBtn" type="button" name="moveRight" onclick="moveR()">
          <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
      <div id="rightSide" class="col-sm-5">
        <div class="form-group">
          <h5>Selected students</h5>
          <select id="studentList" multiple="" >
            {% for student in group.students.all %}
            <option id="{{student.id}}" class="studentItem" ondblclick="moveStudentDoubleClick(event,this)" value="{{student.id}}">
              {{ student.id }}/{{ student.username }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    {{ form.non_field_errors }}
    <!--hidden input field for student list. Form sends data from this input.-->
    <div class="form-group" id="formStudents" style="display: none">
      {{form.students}}
    </div>
  <div class="modal-footer">
    <input type="button" class="btn btn-default" id="cancel" name="cancel" value="cancel" data-dismiss="modal">
    <input type="submit" class="btn btn-primary" name="submit" value="save">
  </div>
  <script>
    var form_options = {
        target: '#editGroupModal',
        success: function() {}
    }
    $('#editGroupForm').ajaxForm(form_options);

    $(document).ready(function() {
      $('#x').click(closeModal);
      $('#cancel').click(closeModal);
    });

    function closeModal() {
      setTimeout(function() { jQuery('#editGroupModal').modal('hide'); }, 1000);
      $('body').on('hidden.bs.modal', '.modal', function () {
          $(this).removeData('bs.modal');
          window.location.reload(true);
          console.log('Close success!');
      });
    }
  </script>
</form>
