
<form id="newGroupForm" class="form" role="form" action="{% url 'new_group'%}" method="post">
  <div class="modal fade" id="newGroup" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Create group</h3>
        </div>
        <div class="modal-body">
          <div id="headerOne" class="container-fluid">
            <h4>Students without a group</h4>
          </div>
          <div id="headerTwo" class="container-fluid">
            <h4>Chosen students</h4>
          </div>
          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
            integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
            crossorigin="anonymous">
          <div class="container-fluid" id="mainContainer">
            <div id="containerOne" class="container-fluid">
              <ul id="list1" class="list-group">
                {% for student in studentsWithoutGroup %}
                  <li class="list-group-item"> {{student.username}} </li>
                {% endfor %}
              </ul>

            </div>
            <div class="container-fluid" id="buttonContainer">
              <button id="addButton" class="btn btn-md btn-block">Add</button>
              <button id="removeButton" class ="btn btm-md btn-block">Remove</button>
            </div>
            <div id="containerTwo" class="container-fluid">
              <ul class="list-group" id="list2">
                <li class="list-group-item">testi</li>
                <li class="list-group-item">testi2</li>
                <li class="list-group-item">testi3</li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Cancel</button>
            <button class="btn" data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var form_options = {
        target: '#newGroupView',
        success: function() {}
    }
    $('#newGroupForm').ajaxForm(form_options);

    $(document).ready(function() {
      $('#x').click(closeModal);
      $('#cancel').click(closeModal);
    });

    function closeModal() {
      setTimeout(function() { jQuery('#newGroupView').modal('hide'); }, 1000);
      $('body').on('hidden.bs.modal', '.modal', function () {
          $(this).removeData('bs.modal');
          window.location.reload(true);
          console.log('Close success!');
      });
    }
  </script>
</form>
