<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <body>
    <div class = "modal fade" id="group_settings" role="dialog">
      <div class=" modal-dialog">
        <div class="modal-content">
          <div class = "modal-header">
            <h3>Group settings</h3>
          </div>
          <div class = "modal-body">
            <h4>Group size </h4>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
            <div class="container-fluid mt-5">
              <input type="number" id="qty_input" class="form-control" value="1" min="1">
              <h4>Tägit myöhemmin tähän</h4>
            </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Cancel</button>
              <button class="btn" data-dismiss="modal">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
