{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}


<html lang="en">

  <head>
    <title>Teacher view</title>
    <link rel="stylesheet" href="{% static 'css/teacherView.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicons/favicon.ico' %}"/>
    <!-- Get jQuery and bootstrap.js from CDN -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'css/editGroup.css' %}">
  </head>

  <body>
    <div id="header">
      <h1 id="mainTitle">A+ Grouping Tool</h1>
      <div id="userIcon">
        <span class="glyphicon glyphicon-user"></span>
      </div>

      <div id="logout">
        <button class="btn">
          <span class="glyphicon glyphicon-log-out"></span>
          Logout
        </button>
      </div>

    </div>
    <div class="container-fluid">
      <div class="row">
        <div id="sideBar" class="col-sm-3">
          <p>Menu</p>
        </div>
        <div id="mainContent" class="col-sm-9">
          <p id="path">Main Page/Course 1</p>
          <h2 id="courseName">Course 1</h2>

          <div id="controls">
            <button class="btn" id="addGroupBtn">
              New Group
            </button>
            <button class="btn" id="autoGroupBtn" data-toggle="modal" data-target="#autoModal">
              Create Groups Automatically
            </button>
            <button class="btn" id="groupSettingsBtn" data-toggle="modal" data-target="#groupSettings">
              Group Settings
            </button>
          </div>

          <h2 id="groupTitle">Groups</h2>
          {% block content %}
          <!-- Modal -->
          <div
            class="modal fade"
            id="editGroupModal"
            tabindex="-1"
            role="dialog"
            aria-labelby="editGroupModal"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
              </div>
            </div>
          </div><!-- /.modal -->
          <table id="groups" class="table-striped">
            <tr>
              <th id="groupName">Name</th>
              <th id="groupMembers">Members</th>
              <th id="groupType">Type</th>
              <th id="editGroup"></th>
            </tr>
            {% for group in object_list %}
            <tr>
              <td>{{group.group_id}}</td>
              <td>
                {% for student in group.students.all %}
                  {{student.username}}
                {% endfor %}
              </td>
              <td>{{group.group_type}}</td>
              <td>
                <button
                  id="editGroupBtn"
                  class="btn"
                  data-toggle="modal"
                  data-target="#editGroupModal"
                  href="{% url 'edit_group' group.id %}">
                  Edit
                </button>
              </td>
            </tr>
            {% endfor %}
          </table>
          {% endblock %}
        </div>
      </div>
    </div>

    {% include "./modals/autoGroupModal.html" %}
    {% include "./modals/settingsView.html" %}
    <!-- Script for automatic grouping modal -->
    <script src="{% static 'js/autoGroupModal.js' %}"></script>

    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{% static 'js/editGroupModal.js'%}"></script>
  </body>
</html>
