{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}

<html lang="en">
<head>
  <title>Teacher view</title>
  <link rel="stylesheet" href="{% static 'css/teacherView.css' %}">
</head>
<body>
  <div id="header">
    <h1 id="mainTitle">A+ ryhmäytystyökalu</h1>
    <div id="userIcon">
      <span class="glyphicon glyphicon-user"></span>
    </div>

    <div id="logout">
      <button class="btn">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout
      </button>
    </div>
    
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id="sideBar" class="col-sm-3">
        <p>Menu</p>
      </div>
      <div id="mainContent" class="col-sm-9">
        <p id="path">Etusivu/kurssi1</p>
        <h2 id="courseName">Kurssi 1</h2>

        <div id="controls">
          <button class="btn" id="addGroup">lisää ryhmä</button>
          <button class="btn" id="autoGroup">luo automaattiset ryhmät</button>
          <button class="btn" id="groupSettings">ryhmäasetukset</button>
        </div>

        <h2 id="groupTitle">Ryhmät</h2>
        
        <table id="groups" class="table-striped">
          <tr>
            <th id="groupName">Nimi</th>
            <th id="groupMembers">Jäsenet</th>
            <th id="groupType">Ryhmätyyppi</th>
            <th id="editGroup"></th>
          </tr>
          <tr>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td><button id="editGroupBtn" class="btn">Edit</button></td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</body>
</html>
